*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
p{
    font-size: 16px;
}
:root{
    --font-size: 40px;
    --primary-color: #0B0223;
    --linear: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);

}
.gamer-logo{
    display: flex;
    gap: 5px;
    align-items: center;
}
#G{
    color: #FF42A5;
}
.menus{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 20px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 50px; */
    padding: 2% 10%;
    position: fixed;
    background-size: cover;
    width: 80%;
    background-color: transparent;
    background: #ff42a442;
    box-shadow: 2px 2px 5px;
    /* -webkit-backdrop-filter: blur(50px); */
    
}
.btn-f{
    display: flex;
    align-items: center;
    padding: 5px;
    gap: 5px;
    border: none;
    border-radius: 5px;
    background: rgba(11, 2, 35, 0.10);
    justify-content: center;
}
.btn-f:hover{
    cursor: pointer;
    background: #4EC5F7;
    padding: 4px;
}
.header-items{
    display: flex;
    justify-content: space-between;
    padding: 6% 10%;
    align-items: center;

}
.header-t2{
    font-size: 2em;
    color: var(--primary-color);
}
.header-title{
    font-size: 4em;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.header-img{
    width: 40%;
}
.header-desc{
    display: flex;
    align-items: center;
    gap: 5px;
}
.btn-h1{
    padding: 10px 15px;
    background: var(--linear);
    border: none;
    border-radius: 20px;
    color: white;
    
}
.btn-h1:hover{
    cursor: pointer;
    background: #4EC5F7;
    padding: 9px;
}
.btn-h2{
    padding: 10px 15px;
    background: #4EC5F7;
    border: none;
    border-radius: 20px;
    color: white;
    
}
.btn-h2:hover{
    cursor: pointer;
    background: #F948B2;
    padding: 9px;
}
.btn{
    padding: 15px 0px;
}

.header-items2{
    display: flex;
    padding: 2% 10%;
    justify-content: space-between;
    align-items: center;
    
}

.header-text2{
    text-align: right;
    
    

}
.header-title2{
    font-size: 2em;
    padding: 10px 0px;
}
.header-desc2{
    width: 500px;
    padding: 10px 0px;
}
.header-desc2-1{
    padding: 10px 0px;
}
.main-items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 2% 10%;
}
.main-c{
    padding: 2% 10%;
    text-align: center;
    
}
.main-title{
    font-size: 2em;
    padding-bottom:10px;
}
#T{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}
.item1{
    padding: 10px 10px;
    background: rgba(252, 1, 210, 0.24);
    box-shadow: 2px 2px 2px black;
    /* border: 2px solid black; */
    border-radius: 10px;
    margin: 5px;
}
.item2{
    padding: 10px 10px;
    background: rgba(252, 1, 210, 0.24);
    box-shadow: 2px 2px 2px black;
    /* border: 2px solid black; */
    border-radius: 10px;
    margin: 5px;
}
.item3{
    padding: 10px 10px;
    background: rgba(252, 1, 210, 0.24);
    box-shadow: 2px 2px 2px black;
    /* border: 2px solid black; */
    border-radius: 10px;
    margin: 5px;
}
.item1:hover{
    cursor: pointer;
    
    
}
.item2:hover{
    cursor: pointer;
    
}
.item3:hover{
    cursor: pointer;
    
}
.item4:hover{
    cursor: pointer;
    
}
.item4{
    padding: 10px 10px;
    background: rgba(252, 1, 210, 0.24);
    box-shadow: 2px 2px 2px black;
    /* border: 2px solid black; */
    border-radius: 10px;
    margin: 5px;
}
footer{
    background: #0B0223;

}
.gamerlogo{
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 50px;
    gap: 5px;
}
.btns{
    
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0px 0px 50px 0px;
    

}
.end-btn{
    color: white;
    background: transparent;
    border: none;
}
.end-btn:hover{
    cursor: pointer;
    color: #F948B2;
}
.logo-btn{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0px 0px 50px 0px;
}
.icon{
    background: transparent;
    border: none;
    
}
.icon:hover{
    cursor: pointer;
    /* background: #F948B2; */
    border: 2px solid #FF42A5;
    border-radius: 10px;
    padding: 5px;
}
.copy{
    color: white;
    font-size: 12px;
    text-align: center;
    padding: 0px 0px 50px 0px;
}
.trms{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 30px 0px;
    gap: 20px;
    /* font-size: 12px; */

}
.trms-i{
    background: transparent;
    color: white;
    border: none;
    font-size: 12px;
}
.trms-i:hover{
    cursor: pointer;
    color: #F948B2;
}
.game-btns{
    display: flex;
    flex-wrap: wrap;
    padding: 5% 10%;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.game-icon{
    border: none;
    display: flex;
    align-items: center;
    gap: 5px;
    background:rgba(252, 1, 210, 0.24);
    border-radius: 40px;
    padding: 5px;
    box-shadow: 2px 2px 2px;
}
.game-icon:hover{
    cursor: pointer;
    background: #4EC5F7;
    padding: 3px;
}
.main-ti{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 10%;
    gap: 100px
}
.mainImage{
    width: 80%;
}
.mainText{
    width: 50%;
    margin: 100px;
    text-align: right;
}
.main-titlei{
    font-size: 2em;
    padding-bottom: 10px;
}
#C{
    color: #F948B2;
}
.main-desci{
    /* text-align: justify; */
}
#f1{
    position: absolute;
    left: 47%;
    bottom: -210%;
}
.main-ti2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10% 10%;
    gap: 100px
}
.main-titlei2{
    font-size: 2em;
    padding-bottom: 10px;
}
.mainText2{
    width: 70%;
    margin: 100px;
    text-align: left;
}
#f2{
    position: absolute;
    right: 45%;
    bottom: -290%;
}
.main-desci2{
    text-align: justify;
}
.last-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 2% 10%; */
    background: #FF42A5;
}
.last-img{
    width: 50%;
    
}
.last-m-c{
    padding: 10%;
    color: white;
}
.last-desc{
    text-align: justify;
}
.last-desc-part{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px 20px 0px;

}
.last-title{
    margin-bottom: 20px;
}
.left-last{
    text-align: left;
    /* gap: 10px; */
}
.right-last{
    text-align: right;
}
.last-btn{
    padding: 10px 15px;
    background: white;
    border: none;
    border-radius: 20px;
    color: #FF42A5;
}
.last-btn:hover{
    cursor: pointer;
    background: #4EC5F7;
    padding: 9px;
    color: white;
}